@use "./variables" as *;
@use "./mixin" as *;

// Optimized Google Fonts Import (Example)
// Only include the weights and styles you NEED.
// You can customize this based on your design.
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Edu+AU+VIC+WA+NT+Hand:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; // Fixed typo
  color: $text-color-primary;
}

button,
input,
textarea,
select {
  outline: none;
  border: none;
  background: none;
}
// You can move it in more specific location if you want
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
.error-text {
  color: rgba($red-primary, 1);
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.Toastify__close-button {
  svg {
    fill: $text-color !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: rgb(179, 206, 238) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.star {
  @include flex(flex-start);
  color: $text-color;
}
.loader {
  width: 48px;
  height: 48px;
  border: 2px solid $primary-color;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
