@use "sass:color";
$primary-color: #312e81;
$secondary-color: rgb(34 197 94);
$text-color-primary: #ffff;
$text-color: rgb(75 85 99);
$text-color-secondary: rgb(17 24 39);
$button-bg-color-primary: #059669;
$button-bg-color-secondary: rgb(243 244 246);
$button-bg-color-primary-frist: #4f46e5;
$progess-bar-bg-color: linear-gradient(135deg, #1e3c72 0.5%, #1750b3);
$checkbox-bg-color: $progess-bar-bg-color;
$background-color: linear-gradient(to bottom, #1e3a8a, #1b63d8);
$background-color-secondary: #ffffff1a;
$border-color: #ffffff33;
$header-background-color: #fffc;
$icon-hover-color: black;
