@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;

.addPassword-group{
    width: 100%;
    margin: 0 auto;
}
.addPassword-label{
    font-size: 0.9rem;
    color: $text-color-secondary;
    margin-bottom: 0.4rem;
}
.addPassword-input-group{
   @include flex(flex-start);
  padding: 0.5rem 0.8rem;
  border: 1px solid rgba($text-color, 0.2);
  background-color: $background-color-secondary;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:focus-within {
    border-color: $text-color;
  }
.addPassword-input-field{
       width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: $text-color-secondary;
    font-size: 0.9rem;
    font-weight: 400;
    &::placeholder{
        color: rgba($text-color, 0.5);
        font-size: 0.9rem;}

}
.icon {
    @include flex(flex-end);
    gap: 0.7rem;
    margin-left: auto;
    cursor: pointer;
    .eye,.copy{
            @include flex(flex-end);
        &:hover{
            svg {
                stroke: $text-color;
            }
        }
    }
    svg {
      height: 1rem;
      width: 1rem;
      stroke: rgba($text-color, 0.5);
      transition: all 0.3s ease-in-out;
    }
  }
}