@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;

.btn-group {
  @include flex(center);
  width: 100%;
  margin: 1rem auto;
  padding: 0.1rem;
  border-radius: 10px;
  .btn {
    @include flex(center);
    gap: 0.5rem;
    .icon {
      @include flex(center);
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
    .title {
      @include flex(center);
    }
  }
  &.btn-group__primary {
    background: linear-gradient(to left, #102766, #1c53aa);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: linear-gradient(to left, #09173d, #1057c9);
    }
  }
  &.btn-group__secondary {
    background: linear-gradient(to left, $button-bg-color-primary, #10b981);
    box-shadow: $button-bg-color-primary 0px 0px 0px 1px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: linear-gradient(to left, $button-bg-color-primary, #12c98c);
    }
  }
  &.btn-group__tertiary {
    background: rgba($button-bg-color-secondary, 0.3);
    box-shadow: $border-color 0px 0px 0px 1px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: rgba($button-bg-color-secondary, 0.7);
    }
    .btn {
      color: rgb(26, 25, 25);
    }
  }
  &.btn-group__copy {
    background: rgba($text-color, 0.1);
    box-shadow: $border-color 0px 0px 0px 1px;
    transition: all 0.3s ease-in-out;
    &:hover {
    background: rgba($text-color, 0.3);
    }
    .btn {
      color: rgb(26, 25, 25);
    }
  }
  &.btn-group__lg {
    width: 100%;
    margin: 0 auto;
  }
  &.btn-group__md {
    width: 80%;
    margin: 0 auto;
  }
  &.btn-group__sm {
    width: 60%;
    margin: 0 auto;
  }

  .btn {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.7rem 0.8rem;
    text-wrap: nowrap;
    cursor: pointer;
    &.btn-generator{
          padding: 0.4rem 0.8rem;
    }
  }
}
