@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;

.card-container {
  @include flex(flex-start);
  max-width: 452px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgb(229 231 235) 0px 0px 0px 1px;
  padding: 1.3rem 1.5rem;
  min-height: 105px;
  min-width: 14rem;
  width: 100%;
  &.total {
    background-color: rgba($primary-color, 0.1);
    color: $primary-color;
  }
  &.ADMIN {
    background-color: rgba($button-bg-color-primary, 0.1);
    color: $button-bg-color-primary;
  }
  &.USER {
    background-color: rgba($orange-primary, 0.1);
    color: $orange-primary;
  }
  .icon {
    @include flex(center);
    width: 40px;
    height: 40px;
    margin-left: auto;
    svg {
      width: 2rem;
      height: 2rem;
      stroke: $button-bg-color-primary-frist;
    }
    &.icon-total {
      svg {
        stroke: $button-bg-color-primary-frist;
      }
    }
    &.icon-ADMIN {
      svg {
        stroke: $button-bg-color-primary;
      }
    }
    &.icon-USER {
      svg {
        stroke: $orange-primary;
      }
    }
  }
}
.card-des {
  &__name {
    font-size: 0.9rem;
    font-weight: 500;
    color: $text-color;
    text-transform: uppercase;
  }
  &__number {
    font-size: 1.7rem;
    color: $icon-hover-color;
    font-weight: 600;
  }
}
