@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;

.header-container {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: $header-background-color;
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: $header-background-color;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  backdrop-filter: blur(10px);
}
.header-section {
  @include flex(flex-start);
}
.header-right {
  @include flex(flex-start);
  gap: 0.7rem;
  .icon {
    @include flex(center);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: $background-color;
    svg {
      width: 1.6rem;
      height: 2rem;
    }
  }
  .secureVault {
    color: $text-color-secondary;
    font-size: 1.1rem;
  }
  p {
    color: $text-color;
    font-size: 0.8rem;
  }
}
.header-left {
  @include flex(flex-start);
  gap: 2.5rem;
  margin-left: auto;
  .user-profile {
    @include flex(flex-start);
    gap: 0.4rem;
    .icon {
      @include flex(center);
      width: 25px;
      height: 25px;
      svg {
        width: 0.9rem;
        height: 2rem;
        stroke: $text-color;
      }
    }
    .name p {
      color: $text-color;
      font-size: 0.9rem;
      span {
        color: $text-color;
      }
    }
  }
  .admin-profile {
    @include flex(flex-start);
    gap: 0.4rem;
    cursor: pointer;
    &:hover .icon {
      svg {
        stroke: $icon-hover-color;
      }
    }
    &:hover .name {
      color: $icon-hover-color;
    }
    .icon {
      @include flex(center);
      width: 25px;
      height: 25px;
      svg {
        width: 0.9rem;
        height: 2rem;
        stroke: $text-color;
        transition: all 0.3s ease;
      }
    }
    .name {
      color: $text-color;
      font-size: 0.9rem;
      transition: all 0.3s ease;
    }
  }
  .logout {
    @include flex(flex-start);
    gap: 0.4rem;
    cursor: pointer;
    &:hover .icon {
      svg {
        stroke: $icon-hover-color;
      }
    }

    &:hover .name {
      color: $icon-hover-color;
    }
    .icon {
      @include flex(center);
      width: 25px;
      height: 25px;

      svg {
        width: 0.9rem;
        height: 2rem;
        stroke: $text-color;
        transition: all 0.3s ease;
      }
    }
    .name {
      color: $text-color;
      font-size: 0.9rem;
      transition: all 0.3s ease;
    }
  }
}


.admin-panel-container{
  width: 100%;
  padding: 0.5rem 0;
  .admin-panel-dash{
    @include flex(flex-start);
    gap: 1rem;
    .admin-panel-card{
      flex: 1;
    }
  }
  .admin-panel-action{
    max-width:11rem ;
    width: 100%;
    padding: 1.6rem 0;
  }
}
.admin-panel-useradd-form{
  background-color: $header-background-color;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  display: none;
  transition: all 0.3s ease;
  &.active{
    display: block;
  }
  h3{
    color: $text-color-secondary;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .useradd-form-group{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }
  .useradd-form-action-section{
    @include flex(flex-start);
    align-items: flex-end;
    gap: 0.7rem;
    &__add{
      @include flex(flex-start);
    }
    &__cancel{
      @include flex(flex-start);
    }
  }
}