@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;

.password-card-group {
  @include flex(flex-start);
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  background: $header-background-color;
  box-shadow: rgb(229 231 235) 0px 0px 0px 1px;
  padding: 1.5rem 1.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.45s ease;
  &:hover {
    // box-shadow: rgb(229, 231, 235) 2px 2px 2px 1px;
    .password-card-action {
      .icon {
        &:hover {
          background: rgba($primary-color, 0.2);

          svg {
            stroke: $primary-color;
          }
        }
        svg {
          stroke: $text-color;
        }
      }
      .icon-d {
        &:hover {
          background: rgba($red-primary, 0.2);

          svg {
            stroke: $red-primary;
          }
        }
        svg {
          stroke: $text-color;
        }
      }
    }
  }
}

.password-card-header {
  @include flex(flex-start);
  width: 100%;
}
.password-card-header-des {
  flex-direction: column;
  gap: 0.2rem;
  .title {
    font-size: 0.9rem;
    font-weight: 600;
    color: $icon-hover-color;
    text-transform: capitalize;
  }
  .category {
    display: inline-block;
    align-self: flex-start;
    font-size: 0.7rem;
    color: $text-color;
    font-weight: 500;
    background: $category-bg-color;
    padding: 0.1rem 0.4rem;
    border-radius: 10px;
    text-transform: capitalize;
  }
}
.password-card-action {
  @include flex(flex-end);
  gap: 0.5rem;
  margin-left: auto;
  cursor: pointer;
  .icon {
    @include flex(center);
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: rgba($primary-color, 0.2);
      svg {
        stroke: $primary-color;
      }
    }
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
.icon-d {
  @include flex(center);
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background: rgba($red-primary, 0.2);
    svg {
      stroke: $red-primary;
    }
  }
  svg {
    width: 1rem;
    height: 1rem;
  }
}

.password-card-userInfo {
  @include flex(flex-start);
  width: 100%;
  &:hover {
    .password-card-copy {
      svg {
        stroke: rgba($text-color, 0.5);
      }
      span {
        font-size: 0.8rem;
        color: rgba($secondary-color, 0.8);
        font-weight: 500;
      }
    }
  }
  .card-userInfo-details {
    @include flex(flex-start);
    gap: 0.5rem;
    .icon {
      @include flex(flex-start);
      margin-right: auto;
      svg {
        width: 1rem;
        height: 1rem;
        stroke: $text-color;
      }
      span {
        font-size: 0.8rem;
        color: rgba($secondary-color, 0.8);
        font-weight: 500;
      }
    }
    .user {
      @include flex(flex-start);
      font-size: 0.8rem;
      color: $text-color;
    }
  }
  .password-card-copy {
    margin-left: auto;
    padding: 0.8rem 0;
    transition: all 0.3s ease;
    &:hover {
      svg {
        stroke: $text-color;
      }
    }
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.password-card-details {
  @include flex(flex-start);
  width: 100%;
  border-bottom: 1px solid #f3f4f6;
  padding-bottom: 0.8rem;
  &:hover {
    .password-card-left {
      span {
        font-size: 0.8rem;
        color: rgba($secondary-color, 0.8);
        font-weight: 500;
      }
      .icon {
        &:hover {
          svg {
            stroke: $text-color;
          }
        }
        svg {
          stroke: rgba($text-color, 0.5);
        }
        span {
          font-size: 0.8rem;
          color: rgba($secondary-color, 0.8);
          font-weight: 500;
        }
      }
    }
  }
}
.password-card-right {
  @include flex(flex-start);
  gap: 0.5rem;
  .password-value {
    font-size: 0.9rem;
    color: $text-color;
  }
  .password-category {
    font-size: 0.8rem;
    color: $red-primary;
    font-weight: 500;
    text-transform: lowercase;
    &.very-strong {
      color: rgba($secondary-color, 1);
    }
    &.strong {
      color: rgba($secondary-color, 0.8);
    }
    &.good {
      color: rgba($orange-primary, 1);
    }
    &.fair {
      color: rgba($orange-primary, 0.5);
    }
    &.weak {
      color: $red-primary;
    }
  }
}
.password-card-left {
  @include flex(flex-end);
  gap: 0.6rem;
  margin-left: auto;
  .icon {
    &:hover {
      svg {
        stroke: $text-color;
      }
    }
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
.password-card-link {
  @include flex(flex-start);
  gap: 0.7rem;
  width: 100%;
  padding-bottom: 0.9rem;
  span {
    font-size: 0.8rem;
    color: rgba($secondary-color, 0.8);
    font-weight: 500;
  }
  .icon {
    @include flex(flex-start);
    svg {
      align-self: center;
      width: 0.9rem;
      height: 0.9rem;
      stroke: $text-color;
    }
  }
  .title {
    @include flex(space-between);
    flex: 1;
    a {
      color: rgba($primary-color, 0.8);
      font-size: 0.8rem;
      text-decoration: none;
      transition: all 0.45s ease;
      &:hover {
        color: rgba($primary-color, 0.9);
        text-decoration: underline;
      }
      .icon {
        align-self: center;
        width: 0.9rem;
        height: 0.9rem;
        stroke: $text-color;
        opacity: 0;
      }
    }
  }
}

.password-card-footer {
  @include flex(space-between);
  gap: 0.5rem;
  width: 100%;
  text-align: left;
  font-size: 0.7rem;
  padding-top: 0.7rem;
  color: rgba($text-color, 0.7);
  font-weight: 500;
  .date,
  .shared-by {
    color: rgba($text-color, 0.7);
    font-weight: 500;
  }
}

.password-card-share {
  @include flex(center);
  padding-top: 0.8rem;
  cursor: pointer;
  svg {
    align-self: center;
    width: 1rem;
    height: 1rem;
    stroke: $text-color;
  }
}
.share-with-container {
  @include flex(center);
  flex-direction: column;
  width: 100%;
  padding: 0.8rem 0;
  .share-with-input {
    width: 100%;
    padding: 0.2rem 0;
  }
  .share-with-action {
    padding-top: 1.1rem;
  }
  .select-option-component {
    width: 100%;
  }
}
.share-with-permission {
  @include flex(center);
  padding: 0.8rem 0;
  width: 100%;
}
.password-card-actions {
  @include flex(space-between);
  gap: 0.5rem;
  width: 100%;
  padding-top: 0.5rem;
  .password-card-delete {
    @include flex(center);
    color: rgba($text-color, 0.8);
    font-size: 0.8rem;
    cursor: pointer;
    svg {
      width: 1rem;
      height: 1rem;
      stroke: $text-color;
    }
  }
}
.remove-password-container {
  @include flex(space-between);
  gap: 0.7rem;
  width: 100%;
}

.remove-password-input {
  width: 100%;
  padding: 0.2rem 0;
}
.remove-password-actions {
  @include flex(space-between);
  gap: 0.5rem;
  width: 100%;
  padding-top: 0.5rem;
}
.dashboard-add-section {
  @include flex(flex-start);
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  .dashboard-add-input {
    @include flex(flex-start);
    align-items: center;
    flex: 1;
  }
  .dashboard-add-btn {
    align-self: flex-end;
  }
}

.category-container-action {
  max-width: 11rem;
}
