@use "../helpers/variables" as *;
@use "../helpers/mixin" as *;

.dashboard-container {
  background: linear-gradient(to bottom, #eef2ff, #fff);
  height: 100%;
  height: auto;
}
.dashboard-main-section {
  margin: 6.3rem 0;
}
.dashboard-display-card {
  @include flex(center);
  gap: 0.5rem;
  width: 100%;
  margin: 2rem 0px;
  .card-list-section {
    background-color: $header-background-color;
    flex: 1;
  }
}
.dashboard-actions {
  @include flex(center);
  gap: 1rem;
  margin-left: auto;
  .search-action {
    flex-basis: 55%;
  }
  .category-action {
    flex-basis: 20%;
  }
  .modal-actions {
    @include flex(center);
    flex-basis: 35%;
    gap: 1rem;
  }
}

.not-found {
  @include flex(center);
  flex-direction: column;
  text-align: center;
  padding: 6rem;
  .icon {
    svg {
      width: 3rem;
      height: 3rem;
      stroke: rgba($text-color, $alpha: 0.6);
      stroke-width: 2px;
    }
  }
  .title {
    font-size: 1.1rem;
    font-weight: 600;
    color: $icon-hover-color;
  }
  .description {
    font-size: 0.9rem;
    color: $text-color;
  }
}
.password-card-lists {
  .password-card-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    padding: 2rem 0;
  }
}
.dashboard-modal-footer {
  @include flex(center);
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
  .generate-action {
    flex-basis: 70%;
  }
  .copy-action {
    flex-basis: 30%;
    .title {
      font-size: 0.9rem;
      font-weight: 500;
      color: $icon-hover-color;
    }
    .icon {
      svg {
        width: 1.2rem;
        height: 1.2rem;
        stroke: rgba($text-color, 0.6);
        stroke-width: 2px;
      }
    }
  }
}
.dashboard-password-generator {
  .char {
    font-size: 0.9rem;
    font-weight: 500;
    color: $icon-hover-color;
    padding: 0.5rem 0;
  }
  .char-types {
    &__type {
      margin: 0.5rem 0;
    }
  }
}
.dashboard-add-section {
  padding: 0.6rem 0;
}
.dashboard-addPassword-footer {
  @include flex(flex-start);
  gap: 0.7rem;
  width: 100%;
  margin-top: 1.4rem;
  margin-bottom: 1.3rem;
  .save-action {
    flex-basis: 70%;
  }
  .cancel-action {
    flex-basis: 30%;
    .title {
      font-size: 0.9rem;
      font-weight: 500;
      color: $icon-hover-color;
    }
    .icon {
      svg {
        width: 1.2rem;
        height: 1.2rem;
        stroke: rgba($text-color, 0.6);
        stroke-width: 2px;
      }
    }
  }
}
